.font-s3() { //this sets the baseline for the layout but gets overridden per template
  font-size: 16px;
  line-height: 24px;
}

.font-s2() {
  font-size: 14px;
  line-height: 20px;
}

.font-s1() {
  font-size: 12px;
  line-height: 16px;
}

.font-code() {
  //yields a footprint equivalent to 16px in Source Sans Pro
  font-size: 95%;
  line-height: 1.5;
}

.type-primary() {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.type-code() {
  font-family: "Menlo", "Lucida Console", "Lucida Sans Typewriter", Monaco, monospace;
  font-weight: 400;
}

.type-italic() { font-style: italic; }
.type-bold() { font-weight: 700; }

.subheading-caps() {
  .type-bold;
  letter-spacing: .25em;
  text-transform: uppercase;
}

.term-code() {
  .type-code;
  .font-code;
  color: #747790;

  .type {
    .font-s1;
    .type-primary;
    .type-italic;
    color: @color-dark;
    margin-left: 10px;
  }

  a {
    &:extend(.link.primary);
  }
}

@color-dark: #666;

.api {
  .font-s3;
  border: 1px solid #d8d9e0;
  border-radius: 4px;
  margin: 1.5em 0;
  overflow: hidden;

  .api-heading {
    background: #f7f8fa;
    padding: 1.25rem;

    .title-api {
      .type-code;
      .font-code;
      margin: 0;
      padding: 0;

      .anchor {
        display: none;
      }

      em {
        .type-italic;
      }
    }

    .subtext-api {
      .font-s2;
      margin-top: 0.5em;

      .code {
        .font-code;
        .type-code;
        display: inline-block;
        margin-right: 20px;
      }

      .src-code {
        &:extend(.link.tertiary);
      }
    }
  }

  .api-body {
    .font-s2;
    padding: 1.25rem 1.25rem;

    .subheading {
      .font-s2;
      .subheading-caps;
      color: #343c5a;
      margin: 0.5rem 0 1rem;
    }

    .desc:not(:only-child) {
      margin-bottom: 1.25em;
    }

    p {
      &:only-child {
        margin: 0;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    dl {
      padding-left: 0;

      dt {
        .term-code;
        margin-bottom: 0.5em;
        &:not(:first-child) {
          margin-top: 1em;
        }

        .type {
          font-style: italic;
          margin-left: 10px;
        }
      }

      dd {
        margin: 0;
        p {
          font-size: 14px;
        }
      }
    }
  }
}
